.applyContainer {
  height: 4000px;
}

.applytitleContainer h1,
.applysubtitleContainer h2,
.applysubtitleContainer p,
.positionsContainer h2,
.positionsContainer h3,
.positionsContainer p {
  color: var(--beige);
}

.faqContainer h2,
.faqContainer p {
  color: var(--dark-blue);
}

.dark {
  color: var(--dark-blue);
}

.green {
  color: var(--green);
}

.applyContainer {
  margin-top: 150px;
}

.applytitleContainer {
  position: relative;
}

.applytitleText {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
}

.applytitleBubble {
  position: absolute;
  width: calc(50vw - 3em);
  top: -50px;
  left: 0;
  z-index: -1;
}

.applysubtitleContainer {
  position: relative;
  top: 50px;
}

.applySubtitleText {
  position: absolute;
  top: 670px;
  width: 1000px;
  right: 0;
}

.applysubtitleBubble {
  position: absolute;
  top: 300px;
  right: 0;
  z-index: -1;
}

.positionsContainer {
  position: relative;
  top: 800px;
}

.positionsText {
  position: absolute;
  top: 570px;
  margin-left: 80px;
  margin-right: 80px;
}

.positionsBubble {
  position: absolute;
  top: 500px;
  width: 100vw;
  z-index: -1;
}

.faqContainer {
  position: relative;
  top: 1500px;
}

.faqText {
  position: absolute;
  top: 1900px;
  margin-left: 80px;
}
