.applyContainer h1,
.applyContainer h3,
.applyContainer p {
  color: var(--dark-blue);
}

.applyContainer h2 {
  color: var(--beige);
}

.titleText,
.tswebpageText,
.projecteduText,
.cfswebpageText  {
  padding-left: 80px;
  padding-right: 50px;
}

.positionsText  {
  padding-top: 50px;
  padding-left: 80px;
}

.faqText {
  padding-top: 0;
  padding-left: 80px;
  padding-right: 50px;
}

.positionsBubble1 {
  position: absolute;
  top: 430px;
  z-index: -1;
}

.positionsBubble2 {
  padding-top: 100px;
  z-index: -1;
}
