.goalsContainer {
  margin-top: 150px;
  height: 2300px;
}

.goalsContainer h1,
.goalsContainer h2,
.goalsContainer h3,
.goalsContainer p {
  margin-left: 10vw;
  margin-right: 10vw
}

.blockquote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.blockquoteText {
  text-align: center;
  font-style: italic;
  font-size: 36px;
  width: 1000px;
}

.blockquoteAuthor {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.25em;
}

.blockquoteAuthor2 {
  text-align: center;
  font-size: 18px;
  margin-top: 0;
  color: var(--grey);
}

.goalsTextContainer {
  position: relative;
}

.goalsBubble {
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.goalsText {
  position: relative;
  top: 200px;
  margin-top: 200px;
  opacity: 0;
  transition: 0.7s ease-in-out;
  transform: translateY(15%);
}

.goalsText.show {
  position: relative;
  opacity: 1;
  transform: translateY(0);
}

.goalsText p {
  font-size: 32px;
}

.goalsText p {
  color: var(--beige);
}

.goalsText1 h3 {
  color: var(--green);
}

.goalsText2 h3 {
  color: var(--pink);
}

.goalsText3 h3 {
  color: yellow;
}

.spacer {
  position: relative;
  top: -200px;
  height: 1000px;
  width: 100vw;
  background-color: var(--dark-blue);
  z-index: -1;
  margin-bottom: -250px;
}
