/* styles for FAQ component */

.faq-item {
  margin-left: 80px;
}

.faq-item,
.faq-question,
.faq-text {
  font-size: 28px;
  font-weight: 500;
  color: var(--dark-blue);
  font-family: 'Poppins', sans-serif;
  margin-right: 60px;
}

.faq-answer {
  font-size: 24px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.faq-question {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.faq-text {
  flex-grow: 1;
}

.faq-answer {
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 30px;
}

/* make the FAQ icon smaller and gray */
.faq-icon {
  color: #BDBDBD;
  font-size: 10px;
  margin-right: 20px;
}
