.faqList {
  margin-left: 80px;
  margin-right: 80px;
}

.faqList h3,
.faqList p {
  margin-right: 100px;
}

.faqList a {
  text-decoration: none;
}

.expandIcon {
  position: absolute;
  cursor: pointer;
  width: 50px;
  right: 100px;
}
