.contactpageContainer {
  width: 100%;
  margin-top: 150px;
  margin-bottom: -280px;
}

.contacttitleContainer {
  position: absolute;
  top: 0;
}

.mainContainer p {
  color: var(--beige);
}

.contacttitleText {
  padding-left: 80px;
}

.mainContainer {
  position: relative;
  top: 30px;
  width: 100vw;
}

.mainContainer input,
.mainContainer textarea {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  border-radius: 26px;
  border: none;
  padding-left: 18px;
  background-color: var(--beige);
  left: 500px;
  right: 8vw;
}

.mainContainer input {
  height: 48px;
}

.mainContainer p {
  padding-left: 6vw;
}

.contactpageBubble {
  position: relative;
  height: 1200px;
  width: 100vw;
  top: 0;
  z-index: -1;
}

.nameText {
  position: absolute;
  top: 150px;
}

.nameInput {
  position: absolute;
  top: 165px;
}

.emailText {
  position: absolute;
  top: 250px;
}

.emailInput {
  position: absolute;
  top: 265px;
}

.subjectText {
  position: absolute;
  top: 350px;
}

.subjectInput {
  position: absolute;
  top: 365px;
}

.messageText {
  position: absolute;
  top: 460px;
}

.messageInput {
  position: absolute;
  top: 475px;
  height: 400px;
  padding: 18px;
  resize: none;
}

.submitButton {
  position: absolute;
  top: 961px;
  left: 500px;
  border: none;
  border-radius: 30px;
  background-color: var(--beige);
  color: var(--dark-blue);
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  margin: 4px 2px;
  cursor: pointer;
  z-index: 1;
}

.submitButton:hover {
  background-color: var(--green);
}

.contactpageContainer footer {
  top: -300px;
}

.mainContainer input:focus,
.mainContainer textarea:focus {
  outline: none;
  border: 2px solid var(--pink);
}
