/* make page background color FFF1E9 */

body {
  background-color: #FFF1E9;
}

/* make all h1 elements bold, size 48, color 01001D and Poppins font */

h1 {
  font-weight: bold;
  font-size: 48px;
  color: #01001D;
  font-family: 'Poppins', sans-serif;
}

/* make all h2 elements bold, size 36, color 01001D and Poppins font */

h2 {
  font-weight: bold;
  font-size: 36px;
  color: #01001D;
  font-family: 'Poppins', sans-serif;
}

/* make all h2 elements bold, size 32, color 01001D and Poppins font */

h3 {
  font-weight: bold;
  font-size: 24px;
  color: #01001D;
  font-family: 'Poppins', sans-serif;
}

/* make normal text size 16, color 01001D and DM Sans font */

p {
  font-size: 16px;
  line-height: 0.35;
  color: #01001D;
  font-family: 'DM Sans', sans-serif;
}