@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

body {
  margin: 0;
  --green: #6cef06;
  --pink: #ff007a;
  --dark-blue: #01001d;
  --grey: #666666;
  --beige: #fff1e9;
}

h1,
h2,
h3,
a,
p,
span {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 70px;
  font-weight: 700;
}

h2 {
  font-size: 64px;
  font-weight: 700;
}

p {
  font-size: 24px;
  font-weight: 500;
}
