/* Fonts */
@font-face {
    font-family: JetBrainsMono Regular;
    font-style: normal;
    font-weight: 400;
    src: url("fonts/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf") format("truetype");
    src: url("./fonts/JetBrainsMono/webfonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: JetBrainsMono Bold;
    font-style: normal;
    font-weight: 700;
    src: url("fonts/JetBrainsMono/ttf/JetBrainsMono-Bold.ttf") format("truetype");
    src: url("./fonts/JetBrainsMono/webfonts/JetBrainsMono-Bold.woff2") format("woff2");
}

body {
  overflow-x: hidden;
}

.App {
    font-family: "JetBrainsMono Regular", serif;
}

