.projectSliderEntry {
  height: 400px;
  width: 320px;
  overflow: hidden;
  background-color: var(--beige);
  position: relative;
}

.projectSliderEntry h3 {
  position: absolute;
  left: 20px;
  top: 70%;
  font-size: 24px;
}

.projectSliderEntry img {
  pointer-events: none;
  height: 70%;
}

.projectSliderEntry:hover {
  background-color: var(--pink);
  cursor: pointer;
}

.projectSliderEntry:hover h3 {
  color: var(--beige);
}
